*{
    margin: 0px;
    padding: 0px;
}

body{

    background-color: beige;

    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: rgba(139, 154, 101, 0.872);
        margin: 10px;
       font-family: 'Shadows Into Light', cursive;
       position: relative;
        animation-name:  colorT;
        animation-duration: 2s; 
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        .col1{
            flex-basis: 100%;
            max-height: 0;
            overflow: hidden;
        }

         label img{
            margin: 10px 15px 10px 40px;
            max-width: 40px;
            max-height: 40px;
      
   
        }
        
        input{
          display:none;
        }
        input:checked~ .col1{
            max-height: unset;
    
    }


  
    }
    .img1{
        max-width: 90px;
        max-height: 60px;
        margin: 15px 0px 5px 40px ;
    }
    
    .col1 ul {
            list-style: none;
        
            li{

                font-weight: bold;
                font-size: 20px;
                padding-left: 10px;
                margin-left: 30px;
                animation-name:  bcolorT;
                animation-duration: 2s; 
                animation-timing-function: linear;
                animation-iteration-count: infinite; 
            }
            
         }
        

}
    @media screen and (min-width:700px)
    {
    header nav
        { 

            .col1{
                flex-basis: unset;
                max-height: unset;
           

                ul{
                        list-style: none;
                        display: flex;
                        position: absolute;
                        top:20px;
                        right:30px;
                        font-size:20px;
                        

                        li{
                            padding-right: 20px;
                            font-weight: bold;
                            animation-name:  unset;
                            animation-duration: unset; 
                            animation-timing-function: unset;
                            animation-iteration-count: unset; 

                        }

                        & :hover{

                            font-size: 25px;
                            transition: all .5s;
                        }   

                        

                    }
                }

                 label {
                display: none;
                
                        }

        }
  

    }

@keyframes colorT
{
0%{background-color: rgba(207, 211, 198, 0.872);}
50%{background-color: rgba(149, 155, 133, 0.646);}
100%{background-color:  rgba(139, 154, 101, 0.872);}


}


@keyframes bcolorT
{
0%{color: rgba(0, 106, 255, 0.913);}
50%{color: rgba(6, 249, 6, 0.984);}
100%{color:  rgb(190, 117, 33);}


}
