

.navbar {
    height: 15vh;
    width: 100vw;
    border-bottom: 0.4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgba(170, 45, 77, 0.849);
    position: relative;
    font-family: 'Alkatra', cursive;
    ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;


        li{
                list-style: none;    
                text-decoration:none;
                padding: 0.5rem;
                font-size: 15px;
                color: black;   

                a{
                    text-decoration: none;
                    font-family: 'Alkatra', cursive;
                    font-size: 1.5vw;
                    color: black;
                    &:visited {
                        color: black;
                      }
                      &:hover{
                        font-size: 2vw;
                      }
                }
                .heart{
                        height: 7vh;
                        width: 7vw;
                        &:hover{
                            height: 8vh;
                            width: 8vw;
                          }
                }
                input{
                    font-family: FontAwesome;
                }
        }
    }
    
}