.cart{
position: absolute;
margin-top: 1px;
left: 1px;
height: 100vh;
width: 30vw;
background-color:rgba(213, 148, 219, 0.436) ;
border-radius: 0.1rem;
overflow: auto;
border-color: #b4adb4;
&::-webkit-scrollbar{
    width: 0.6rem;
    &-thumb{
        background-color:rgba(207, 29, 223, 0.436);
        border-radius: 1rem;
    }
}

.wrap_dress_cart{
    display: flex;
flex-wrap: wrap;
justify-content: center;
    background-color: #d5cdd66f;
//     width:20vw;
// height: 50vh;
// padding-top:4px;
// padding-left: 10px;
.dress_cart{
display: flex;
flex-wrap: wrap;
// justify-content: center;

height: 50vh;
border-radius: 0.1rem;


}
.size_dress_cart ,.price_dress_cart ,.name_dress_cart{
    // display: flex;
    // flex-wrap: wrap;
    display: block;
    font-size: 12px;
    // justify-content: center;

}
}
}