.FormContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: white;
}
.FormContainer .brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.FormContainer .brand img {
  height: 5rem;
}
.FormContainer form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #9be3b3;
  border-radius: 2rem;
  padding: 3rem 2rem;
}
.FormContainer form input {
  background-color: transparent;
  padding: 1rem;
  border: 0.1rem solid white;
  border-radius: 0.4rem;
  color: white;
  width: 100%;
  font-size: 1rem;
}
.FormContainer form input:focus {
  border: 0.1rem solid #a4c25a;
  outline: none;
}
.FormContainer form button {
  background-color: #68d48c;
  color: white;
  padding: 1rem 2rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 1rem;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}
.FormContainer form button:hover {
  background-color: rgba(104, 212, 140, 0.4901960784);
}
.FormContainer form span {
  color: white;
  text-transform: uppercase;
}
.FormContainer form span a {
  color: #14e518;
  text-decoration: none;
  font-weight: bold;
}