.FormContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}
.FormContainer .fromWrapper {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 50%;
  height: 95%;
}
.FormContainer .fromWrapper form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  padding: 2rem 10rem;
}
.FormContainer .fromWrapper form .from_header {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  color: rgb(133, 1, 35);
}
.FormContainer .fromWrapper form .form_input {
  background-color: transparent;
  padding: 0.7rem;
  border: 0.1rem solid rgb(239, 157, 157);
  border-radius: 0.4rem;
  font-size: 1rem;
}
.FormContainer .fromWrapper form .form_input:focus {
  border: 0.1rem solid rgb(133, 1, 35);
  background-color: rgb(230, 195, 195);
  outline: none;
}
.FormContainer .fromWrapper form .form_button {
  background-color: rgb(133, 1, 35);
  color: white;
  padding: 1rem 4rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 1rem;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}
.FormContainer .fromWrapper form .form_button:hover {
  background-color: rgb(244, 128, 157);
}
.FormContainer .fromWrapper form .from_span {
  color: black;
  text-transform: uppercase;
}
.FormContainer .fromWrapper form .from_span a {
  color: rgb(244, 128, 157);
  text-decoration: none;
  font-weight: bold;
}
.FormContainer .login_image {
  gap: 0rem;
  width: 51%;
  height: 100%;
  border-radius: 0.5rem;
}