.dress_container {
  background-color: rgba(255, 255, 255, 0.916);
  min-height: 3rem;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 2rem;
  font-size: 0.9rem;
  align-items: center;
  justify-content: space-around;
  display: flex;
  transition: 0.4s ease-in-out;
}
.dress_container .wrapper {
  max-width: 1350px;
  padding: 0px 60px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}
.dress_container .wrapper .wrapper_Img {
  display: flex;
  flex-wrap: wrap;
  width: 20vw;
  height: 50vh;
}
.dress_container .wrapper .wrapper_Img img {
  cursor: pointer;
  width: 100%;
  height: 90%;
}
.dress_container .wrapper .wrapper_Img .wrapper_Name_Price {
  height: 10%;
  width: 20vw;
  display: flex;
  justify-content: space-between;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: bisque;
  padding-left: 2px;
  padding-right: 2px;
}
.dress_container .wrapper .wrapper_Img .wrapper_Name_Price h2 {
  justify-content: center;
}
.dress_container .wrapper .wrapper_Img .wrapper_Name_Price h3 {
  justify-content: center;
}

/* modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(93, 38, 104, 0.541);
  display: flex;
  align-items: center;
}

.overlay img {
  display: block;
  width: 20%;
  height: 70%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
}

.overlay > span {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #ffffff;
  z-index: 999;
  cursor: pointer;
}

.overlay-arrows_left {
  display: flex;
  background-color: #6d6d6d;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  left: 0;
  z-index: 999;
}

.overlay-arrows_left svg {
  width: 50px;
  height: 50px;
}

.overlay-arrows_right svg {
  width: 50px;
  height: 50px;
}

.overlay-arrows_right {
  display: flex;
  background-color: #6d6d6d;
  justify-content: space-between;
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  top: 50%;
  z-index: 999;
}